# =============================================================================
# Wybór karty graficznej i profilu (Wpisz 'nvidia' albo 'amd')
# =============================================================================
COMPOSE_PROFILES=nvidia

# =============================================================================
# Infrastruktura Baz Danych (Zostawiamy jedno, spójne źródło danych)
# =============================================================================
POSTGRES_USER=agent
POSTGRES_PASSWORD=12345678
POSTGRES_DB=ai_memory

# =============================================================================
# Ścieżki Lokalne (Twój Obsidian Vault)
# =============================================================================
# OBSIDIAN_HOST_PATH=/mnt/c/Users/...

OBSIDIAN_HOST_PATH=./data/local_notes # JEŻELI NIE CHCESZ używać danych z własnego komputera, odkomentuj tą linię
